.errors-material{
    color:#ff0000;
    font-size: 12px;
}

.fm-body {
    display: none; 
    position: fixed; 
    z-index: 1999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(194, 194, 194, 0.356);
}

.fm-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    color: darkgrey;
    border: 1px solid #888;
    width: 30%; 
}
.hidden {
    display: none !important;
}
